body{font-family: 'Chakra Petch', sans-serif;overflow: hidden;}
.boy{margin: 0;padding: 0;display: flex;align-items: center;justify-content: center;height: 100vh;
    background: #262626;}
.noselect{font-size: 12px;line-height: 11px;background:url(../photos/1.jpg);background-repeat: no-repeat;
            background-size: 100%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */}
.type{background: #262626;position: absolute;background-color: rgba(255, 255, 255, 0);width: 100%; 
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */}
.ttype{color:#e1e7f2;font-size: 70px;text-align: center;padding-top: 100px;margin: 0 auto;
        white-space: nowrap;border-right: 2px solid rgba(255, 255, 255, 0.75);
        overflow: hidden;transform: translateY(-50%);
        animation: typewriter 1.5s steps(15) 1s 1 normal both,
        blinkTextCursor 500ms steps(40) infinite normal;}
@keyframes typewriter {
    from{width: 0;}
    to{width: 9.5em;}
}
@keyframes blinkTextCursor{
    from{border-right-color: rgba(255, 255, 255, 0.75);}
    to{border-right-color: transparent;}
}