body{font-family: 'Chakra Petch', sans-serif;overflow: hidden;background-color: #262626;}
.boy{margin: 0;padding: 0;display: flex;align-items: center;justify-content: center;height: 100vh;
    background: #262626;}
.noselect{font-size: 12px;line-height: 11px;background:url(../photos/1.jpg);background-repeat: no-repeat;
            background-size: 100%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */}
                                 
.type{margin-top:80px;background: #262626;position: absolute;background-color: rgba(255, 255, 255, 0);width: 100%; 
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */}
.ttype{font-family: 'Chakra Petch', sans-serif;color:#e1e7f2;font-size: 70px;text-align: center;margin: 0 auto;
        white-space: nowrap;border-right: 2px solid rgba(255, 255, 255, 0.75);
        overflow: hidden;transform: translateY(-50%);
        animation: typewriter 1.5s steps(15) 1s 1 normal both,
        blinkTextCursor 500ms steps(40) infinite normal;}
@keyframes typewriter {
    from{width: 0;}
    to{width: 9.5em;}
}
@keyframes blinkTextCursor{
    from{border-right-color: rgba(255, 255, 255, 0.75);}
    to{border-right-color: transparent;}
}
.con{position: absolute;padding-left: 60%;padding-bottom: 10%;}
.con .arrow{width: 12px;height: 20px;position: relative;float: left;top:6px;right:-1;}
.con .arrow .inner{width: 0;height: 0;border-right: 15px solid #262626;
                    border-top: 10px solid transparent;border-bottom: 10px solid transparent;
                    position: absolute;top: 0; left:2px; }
.con .msg{text-align:center;float: left;width: 300px;height: auto;border:10px solid #262626;background-color:
            rgba(32, 31, 31, 0.5);
            border:10px solid #262626;
            padding: 6px 8px;
            font-family: 'Chakra Petch', sans-serif;
            font-size: 20px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -o-border-radius:5px;
            border-radius: 5px;}
.con .msg p{margin:0;color: #cccccc;}

.con1{position: absolute;padding-left: 10%;margin-top: -520px;}
.con1 .msg1{text-align:center;float: left;width: 300px;height: auto;border:10px solid #262626;background-color:
            rgba(32, 31, 31, 0.5);
            border:10px solid #262626;
            padding: 6px 8px;
            font-size: 20px;
            font-family: 'Chakra Petch', sans-serif;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -o-border-radius:5px;
            border-radius: 5px;}
.con1 .msg1 p{margin:0;color: #cccccc;}

.con2{position: absolute;padding-left: 73%;margin-top: -515px;}
.con2 .msg2{text-align:center;float: left;width: 300px;height: auto;border:10px solid #262626;background-color:
            rgba(32, 31, 31, 0.5);
            border:10px solid #262626;
            padding: 6px 8px;
            font-size: 20px;
            font-family: 'Chakra Petch', sans-serif;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -o-border-radius:5px;
            border-radius: 5px;}
.con2 .msg2 p{margin:0;color: #cccccc;}


.con3{position: absolute;padding-left: 4%;margin-top: -410px;
       -webkit-animation-delay: 6s;
       animation-delay: 6s; 
        }
.con3 .msg3{text-align:center;float: left;width: 300px;height: auto;border:10px solid #262626;background-color:
            rgba(32, 31, 31, 0.5);
            border:10px solid #262626;
            padding: 6px 8px;
            font-size: 20px;
            font-family: 'Chakra Petch', sans-serif;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -o-border-radius:5px;
            border-radius: 5px;}
.con3 .msg3 p{margin:0;color: #cccccc;}


.con4{position: absolute;padding-left: 12%;margin-top: -300px;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;             
}
.con4 .msg4{text-align:center;float: left;width: 300px;height: auto;border:10px solid #262626;background-color:
            rgba(32, 31, 31, 0.5);
            border:10px solid #262626;
            padding: 6px 8px;
            font-size: 20px;
            font-family: 'Chakra Petch', sans-serif;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -o-border-radius:5px;
            border-radius: 5px;}
.con4 .msg4 p{margin:0;color: #cccccc;}

.con5{position: absolute;padding-left: 74%;margin-top: -310px;
    -webkit-animation-delay: 8s;
    animation-delay: 8s; 

}
.con5 .msg5{text-align:center;float: left;width: 300px;height: auto;border:10px solid #262626;background-color:
            rgba(32, 31, 31, 0.5);
            border:10px solid #262626;
            padding: 6px 8px;
            font-size: 20px;
            font-family: 'Chakra Petch', sans-serif;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -o-border-radius:5px;
            border-radius: 5px;}
.con5 .msg5 p{margin:0;color: #cccccc;}


.con6{position: absolute;padding-left: 6%;margin-top: -180px;
    -webkit-animation-delay: 9s;
    animation-delay: 9s; 
    }
.con6 .msg6{text-align:center;float: left;width: 300px;height: auto;border:10px solid #262626;background-color:
            rgba(32, 31, 31, 0.5);
            border:10px solid #262626;
            padding: 6px 8px;
            font-size: 20px;
            font-family: 'Chakra Petch', sans-serif;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -o-border-radius:5px;
            border-radius: 5px;}
.con6 .msg6 p{margin:0;color: #cccccc;}


.con7{position: absolute;padding-left: 65%;margin-top: -180px;
    -webkit-animation-delay: 10s;
    animation-delay: 10s; 
}
.con7 .msg7{text-align:center;float: left;width: 300px;height: auto;border:10px solid #262626;background-color:
            rgba(32, 31, 31, 0.5);
            border:10px solid #262626;
            padding: 6px 8px;
            font-size: 20px;
            font-family: 'Chakra Petch', sans-serif;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -o-border-radius:5px;
            border-radius: 5px;}
.con7 .msg7 p{margin:0;color: #cccccc;}
nav{position:fixed;top:0;left:0;width: 100%;height: 100px;padding:10px 100px;box-sizing: border-box;transition:.3s;}
nav.black{background:rgba(54, 129, 57, 0.8);height: 60px;padding:1px 100px;}
nav .logo{
    line-height: 30px;

    padding: 22px 20px; height: 80px; float:left;font-size: 32px;font-family: 'Cedarville Cursive', cursive;
    transition:.3s;color: #cccccc;}
nav .logo a{text-decoration: none!important;color: #cac5ca;}
nav .logo a:hover,a:active,a:focus{border: 0px;}
nav.black .logo{color: #fff;}
nav.black .logo a{font-size: 24px;color: #fff;}
nav ul{list-style: none;float: right;margin: 0;padding: 0;display: flex;}
nav ul li{list-style: none;}
nav ul li a{line-height: 80px;color:#cac5c5;padding:12px 30px;font-size: 19px;text-decoration:none!important;font-family: 'Indie Flower', cursive;

            text-transform: uppercase;transition:.3s;}
            nav ul li a:hover,a:active,a:focus{
                    color:#fff;font-size: 21px;
                border-top: 2px solid #cccccc;border-bottom: 2px solid #262626;border-top-width: 800%;}

                nav.black ul li a{color: #ffffff;font-size: 14px;padding-bottom: 7px;padding-top: 7px;}
nav.black ul li a:hover{font-size:16px;}
active{background-repeat: repeat; border-top: 2px solid #cccccc;border-bottom: 2px solid #226622;border-top-width: 800%;}
nav ul li a:focus{outline:none;}
.container h1{text-align: center;}
.mypic{width: 50%;}
.mess{width: 70%;}
.mess p{font-size: 24px;font-family: 'Mali', cursive;
}
.mypic img{border-radius: 50%;border:3px solid #262626;display: block;transition:2s;-webkit-transition:2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;}
.mypic img:hover{transition:2s;-webkit-transition:2s; -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;-webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
         }
         .about{display: flex;justify-content:space-around;}

@media (max-width: 991px){
    .noselect {
        margin-top:100px;
        background-size: 10 100%;

    }
   
    nav .logo{
        padding: 10 0px;
        
    }
    nav .logo a{
        font-size: 22px;
    }

    nav ul {
        padding: 0 10px;
    }
    nav ul li a{
        padding: 0 10px;
        margin: 0;
        font-size: 18px;
       
    }
    .con1 .msg1, .con2 .msg2, .con3 .msg3, .con4 .msg4, .con5 .msg5, .con6 .msg6, .con7 .msg7, .con .msg {
        width: auto;
    }
    .con{
        margin-top: -200px;
    }
    .con1{
        margin-top: -600px;
        margin-left:25px;
    }
    .con2{
        margin-top: -500px;
    }
    .con3{
        margin-top: -480px;
        margin-left:80px;
    }
    .con4{
        margin-top: -380px;
    }
    .con5{
        margin-top: -400px;
        
    }
    .con6{
        margin-top:-300px;
        margin-left:100px;
    }
    .con7{
        margin-top:-310px;
    }
    .msg p,.msg1 p,.msg2 p,.msg3 p,.msg4 p,.msg5 p,.msg6 p,.msg7 p{
        font-size:16px;
    }
    .type{
        margin-top:0px;
    }
    .ttype{
        font-size:40px;
    }
    .container{
      margin-top:300px;
   
     
       
    }
    .container .mypic{
       margin:0 auto;
    }
    .about{
        display: inline-block;
        
        
    }
    .container .mess{
        margin: 0 auto;
    }
}
        
.tbh {
   padding-top: 200px;
   padding-bottom: 150px;
    font-size: 100px;

    text-align: center;

    -webkit-animation: color-change 1s infinite;
    -moz-animation: color-change 1s infinite;
    -o-animation: color-change 1s infinite;
    -ms-animation: color-change 1s infinite;
    animation: color-change 1s infinite;
}
@-webkit-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@-moz-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@-ms-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@-o-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}

.container-fluid{
    margin: 0;
    padding: 0;
    background-color:rgba(38,38,38, 0.95);
    color: #ffffff;
    

}
.container-fluid ul{
    list-style: none;
    text-decoration: none!important;
    background-color:rgba(38,38,38, 0.95);
    
}
.container-fluid ul li{
    float: right;
    line-height: 80px;
    padding: 0 30px;
    text-decoration: none!important;
}
.container-fluid ul li a{

    text-decoration: none!important;
    font-size: 30px;
    color:#fff;
}
.container-fluid ul li a#fa:hover{
   font-size: 35px;
    color:#3B5998
}
.container-fluid ul li a#tw:hover{
    font-size: 35px;
    color: #1DA1F2
}
.container-fluid ul li a#yt:hover{
    font-size: 35px;
    color: #FF0000;
}
.container-fluid ul li a#git:hover{
    font-size: 35px;
}
.progress{
    font-size: 18px!important;
    height: 35px!important;
    text-transform: uppercase;
    transition-duration: 3s;

   
}